*{
    margin: 0;
}

body{
    font-family: 'Inconsolata', sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: Source Sans Pro;
}

.logo-container{
    flex: 1;
}

.logo{
    font-size: 30px;
    color: blueviolet;
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-items{
    margin: 30px;
}

.menu-list-items.active{
    font-weight: bold;
}

.profile-container{
    flex: 2;
}

.profile-picture{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar{
    width: 50px;
    height: 100%; 
    background-color: black;
    position: fixed;
    top: 0;
}

