*{
    margin: 0;
}

body{
    font-family: 'Inconsolata', sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: Source Sans Pro;
}

.logo-container{
    flex: 1;
}

.logo{
    font-size: 30px;
    color: blueviolet;
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-items{
    margin: 30px;
}

.menu-list-items.active{
    font-weight: bold;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px;
} 

.profile-picture{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: gold;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-text-container{
    margin: 0 20px;
}

.sidebar{
    width: 50px;
    height: 100%; 
    background-color: black;
    position: fixed;
    top: 0;
}


